<ion-header class="headerimg">
  
</ion-header>

<ion-content class="ion-padding">
  <!-- <div>
    <img src="../../assets/images/homebg.png" class="headerimg">
  </div> -->
  <!-- <div class="ion-padding ion-text-center">
  </div> -->
  <ion-grid>
    <ion-row class="ion-margin-vertical ion-padding-vertical">
      <!-- <ion-col size="1" class="ion-padding-vertical ion-text-center"></ion-col> -->
      <ion-col size="3" class="ion-padding-vertical ion-text-center" style="padding-right: 0">
        <ion-button size="large" class="ion-text-uppercase btn-height" color="dark" fill="outline" 
          style="background: #C3DBB7">  
          <ion-icon src="../../assets/icon/delivery-truck.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="9" class="ion-padding-vertical ion-text-center" style="padding-left: 0">
        <ion-button size="large" class="ion-text-uppercase btn-height" color="dark" fill="outline" 
          style="background: #C3DBB7" (click)="gotobolscan()">
          BOL Scan
        </ion-button>
      </ion-col>
      <!-- <ion-col size="1" class="ion-padding-vertical ion-text-center"></ion-col> -->
      <!-- <ion-col size="1" class="ion-padding-vertical ion-text-center"></ion-col> -->
      <ion-col size="3" class="ion-padding-vertical ion-text-center" style="padding-right: 0">
        <ion-button size="large" class="ion-text-uppercase btn-height" color="dark" fill="outline" style="background: #00BFCC">
          <ion-icon src="../../assets/icon/route.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="9" class="ion-padding-vertical ion-text-center" style="padding-left: 0">
        <ion-button size="large" class="ion-text-uppercase btn-height" color="dark" fill="outline" style="background: #00BFCC"
           (click)="gototracking()">
          Tracking # Scan
        </ion-button>
      </ion-col>
      <!-- <ion-col size="1" class="ion-padding-vertical ion-text-center"></ion-col> -->
      <!-- <ion-col size="1" class="ion-padding-vertical ion-text-center"></ion-col> -->
      <!-- <ion-col size="3"></ion-col> -->
      <ion-col size="3" class="ion-padding-vertical ion-text-center" style="padding-right: 0">
        <ion-button size="large" class="ion-text-uppercase btn-height" color="dark" fill="outline" style="background: #FC6864">
          <ion-icon src="../../assets/icon/analysis.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- <ion-col size="9"></ion-col> -->
      <ion-col size="9" class="ion-padding-vertical ion-text-center" style="padding-left: 0">
        <ion-button size="large" class="ion-text-uppercase btn-height" color="dark" fill="outline" style="background: #FC6864"
           (click)="gotoreports()">
          <span>
            Reports
          </span>
        </ion-button>
      </ion-col>
      <!-- <ion-col size="1" class="ion-padding-vertical ion-text-center"></ion-col> -->
      <ion-col size="7" class="ion-padding-vertical ion-text-center"></ion-col>
      <ion-col size="4" class="ion-padding-vertical ion-text-center">
        <ion-button size="large" class="ion-text-uppercase btn-height" color="dark" fill="outline" style="background: #ffffff"
          (click)="gotohomepage()">
          <ion-icon src="../../assets/icon/exit-door.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1" class="ion-padding-vertical ion-text-center"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  
  <p style="font-size: 14px;text-align: center;color: gray;">Version: UAT (1.0.0) 07-03-2020</p>
</ion-footer>
